<div class="container">
    
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">City</th>
                <th scope="col">Zipcode</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Website</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let seller of SellerList; let i =index">
                <th scope="row">{{i+1}}</th>
                <td>{{seller.seller_name}}</td>
                <td>{{seller.seller_address.city}}</td>
                <td>{{seller.seller_address.zipcode}}</td>
                <td>{{seller.seller_email}}</td>
                <td>{{seller.phone}}</td>
                <td>{{seller.website}}</td>
                <td>
                    <button class="btn btn-primary" type="button" (click)="open(content, seller)">Load</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>



<div class="container mt-3">
    <button class="btn btn-success" style="width: 100%;" type="button" (click)="open(content, false)">Insert</button>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="!formIsNew">Update Data</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="formIsNew">Insert Data</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

<div class="modal-body">
    <form [formGroup]="SellerForm" *ngIf="!formIsNew" (ngSubmit)="SellerFormData()">
        <div class="form-row row">
            <div class="form-group col">
                <label>Seller Name</label>
                <input type="text" class="form-control" formControlName="seller_name">
            </div>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" formControlName="street">
        </div>
        <div class="form-row row">
            <div class="form-group col-md-4">
                <label>House Number</label>
                <input type="text" class="form-control" formControlName="suite">
            </div>
            <div class="form-group col-md-4">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="form-group col-md-4">
                <label>Zip</label>
                <input type="text" class="form-control" formControlName="zipcode">
            </div>
        </div><br><br>
        <div class="form-group">
            <label>Website</label>
            <input type="text" class="form-control" formControlName="website">
        </div>
        <div class="form-row row">
            <div class="form-group col-md-6">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="seller_email">
            </div>
            <div class="form-group col-md-6">
                <label>Phone Number</label>
                <input type="text" class="form-control" formControlName="phone">
            </div>
        </div><br>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" *ngIf="!formIsNew" (click)="deleteSeller()">Delete</button>

            <button type="submit" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Submit</button>

        </div>
    </form>


    <form [formGroup]="SellerForm" *ngIf="formIsNew" (ngSubmit)="postSellerFormData()">
        <div class="form-row row">
            <div class="form-group col">
                <label>Seller Name</label>
                <input type="text" class="form-control" formControlName="seller_name">
            </div>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" formControlName="street">
        </div>
        <div class="form-row row">
            <div class="form-group col-md-4">
                <label>House Number</label>
                <input type="text" class="form-control" formControlName="suite">
            </div>
            <div class="form-group col-md-4">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="form-group col-md-4">
                <label>Zip</label>
                <input type="text" class="form-control" formControlName="zipcode">
            </div>
        </div><br><br>
        <div class="form-group">
            <label>Website</label>
            <input type="text" class="form-control" formControlName="website">
        </div>
        <div class="form-row row">
            <div class="form-group col-md-6">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="seller_email">
            </div>
            <div class="form-group col-md-6">
                <label>Phone Number</label>
                <input type="text" class="form-control" formControlName="phone">
            </div>
        </div><br>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" *ngIf="!formIsNew" (click)="deleteSeller()">Delete</button>

            <button type="submit" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Submit</button>

        </div>
    </form>


</div>
</ng-template>
