<div class="container">
    
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Buyer Name</th>
                <th scope="col">Buyer Email</th>
                <th scope="col">Buyer Address</th>
                <th scope="col">Suite</th>
                <th scope="col">City</th>
                <th scope="col">Zipcode</th>
                <th scope="col">Phone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let buyer of buyerList; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{buyer.buyer_name}}</td>
                <td>{{buyer.buyer_email}}</td>
                <td>{{buyer.buyer_address.street}}</td>
                <td>{{buyer.buyer_address.suite}}</td>
                <td>{{buyer.buyer_address.city}}</td>
                <td>{{buyer.buyer_address.zipcode}}</td>
                <td>{{buyer.phone}}</td>
                <td>
                    <button class="btn btn-primary" type="button" (click)="open(content, buyer, i)">Load</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="container mt-3">
    <button class="btn btn-success" style="width: 100%;" type="button" (click)="open(content, false, -1)">Insert</button>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="!formIsNew">Update Data</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="formIsNew">Insert Data</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm" *ngIf="!formIsNew" (ngSubmit)="updateBuyerFormData()">
            <div class="form-row row">
                <div class="form-group col-md-6">
                    <label>Buyer Name</label>
                    <input type="text" class="form-control" formControlName="BuyerName">
                </div>
                <div class="form-group col-md-6">
                    <label>Buyer Email</label>
                    <input type="text" class="form-control" formControlName="BuyerEmail">
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <h6>Buyer Address Details</h6>
            </div>
            <div class="form-row row">
                <div class="form-group col-md-2">
                    <label>Street</label>
                    <input type="text" class="form-control" formControlName="Street">
                </div>
                <div class="form-group col-md-4">
                    <label>Suite</label>
                    <input type="text" class="form-control" formControlName="Suite">
                </div>
                <div class="form-group col-md-4">
                    <label>City</label>
                    <input type="text" class="form-control" formControlName="City">
                </div>
                <div class="form-group col-md-2">
                    <label>Zip</label>
                    <input type="text" class="form-control" formControlName="Zipcode">
                </div>
            </div><br><br>
            
            <!-- <br> -->
            <div class="form-group">
                <h6>Buyer Contact Details</h6>
            </div>
            <div class="form-row row">
                <div class="form-group col-md-3">
                    <label>Phone</label>
                    <input type="text" class="form-control" formControlName="Phone">
                </div>
                <div class="form-group col-md-3">
                    <label>Website</label>
                    <input type="text" class="form-control" formControlName="Website">
                </div>
                <div class="form-group col-md-3"> 
                    <label>Company</label>
                    <input type="text" class="form-control" formControlName="Name">
                </div>
                <div class="form-group col-md-3">
                    <label>CatchPhrase</label>
                    <input type="text" class="form-control" formControlName="CatchPhrase">
                </div>
            </div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" *ngIf="!formIsNew" (click)="deleteBuyer()">Delete</button>

                <button type="submit" class="btn btn-primary"  (click)="modal.dismiss('Cross click')">Submit</button>

            </div>
        </form>

        <form [formGroup]="myForm" *ngIf="formIsNew" (ngSubmit)="postBuyerFormData()">
            <div class="form-row row">
                <div class="form-group col-md-6">
                    <label>Buyer Name</label>
                    <input type="text" class="form-control" formControlName="BuyerName">
                </div>
                <div class="form-group col-md-6">
                    <label>Buyer Email</label>
                    <input type="text" class="form-control" formControlName="BuyerEmail">
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <h6>Buyer Address Details</h6>
            </div>
            <div class="form-row row">
                <div class="form-group col-md-2">
                    <label>Street</label>
                    <input type="text" class="form-control" formControlName="Street">
                </div>
                <div class="form-group col-md-4">
                    <label>Suite</label>
                    <input type="text" class="form-control" formControlName="Suite">
                </div>
                <div class="form-group col-md-4">
                    <label>City</label>
                    <input type="text" class="form-control" formControlName="City">
                </div>
                <div class="form-group col-md-2">
                    <label>Zip</label>
                    <input type="text" class="form-control" formControlName="Zipcode">
                </div>
            </div><br><br>
            
            <!-- <br> -->
            <div class="form-group">
                <h6>Buyer Contact Details</h6>
            </div>
            <div class="form-row row">
                <div class="form-group col-md-3">
                    <label>Phone</label>
                    <input type="text" class="form-control" formControlName="Phone">
                </div>
                <div class="form-group col-md-3">
                    <label>Website</label>
                    <input type="text" class="form-control" formControlName="Website">
                </div>
                <div class="form-group col-md-3"> 
                    <label>Company</label>
                    <input type="text" class="form-control" formControlName="Name">
                </div>
                <div class="form-group col-md-3">
                    <label>CatchPhrase</label>
                    <input type="text" class="form-control" formControlName="CatchPhrase">
                </div>
            </div><br>
            <div class="modal-footer">

                <button type="submit" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Submit</button>

            </div>
        </form>
    </div>

</ng-template>

