<div class="container">
    
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">DOB</th>
                <th scope="col">City</th>
                <th scope="col">Zipcode</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customerList; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{customer.first_name}}</td>
                <td>{{customer.last_name}}</td>
                <td>{{customer.date_of_birth}}</td>
                <td>{{customer.current_address.city}}</td>
                <td>{{customer.current_address.zipcode}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone_number}}</td>
                <td>
                    <button class="btn btn-primary" type="button" (click)="open(content, customer)">Load</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="container mt-3">
    <button class="btn btn-success" style="width: 100%;" type="button" (click)="open(content, false)">Insert</button>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="!formIsNew">Update Data</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="formIsNew">Insert Data</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="updateCustomerFormData()">
            <div class="form-row row">
                <div class="form-group col-md-6">
                    <label>First Name</label>
                    <input type="text" class="form-control" formControlName="FirstName">
                </div>
                <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <input type="text" class="form-control" formControlName="LastName">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label>Birth Date</label>
                <input type="date" class="form-control" formControlName="Birthdate">
            </div><br>
            <div class="form-group">
                <label>Current Address</label>
                <input type="text" class="form-control" formControlName="CurrentAddress">
            </div>
            <div class="form-row row">
                <div class="form-group col-md-2">
                    <label>House Number</label>
                    <input type="text" class="form-control" formControlName="CurrenthouseNo">
                </div>
                <div class="form-group col-md-4">
                    <label>City</label>
                    <input type="text" class="form-control" formControlName="CurrentCity">
                </div>
                <div class="form-group col-md-4">
                    <label>State</label>
                    <input type="text" class="form-control" formControlName="CurrentState">
                </div>
                <div class="form-group col-md-2">
                    <label>Zip</label>
                    <input type="text" class="form-control" formControlName="CurrentZip">
                </div>
            </div><br><br>
            <div class="form-group">
                <label>Parmanent Address</label>
                <input type="text" class="form-control" formControlName="ParmanentAddress">
            </div>
            <div class="form-row row">
                <div class="form-group col-md-2">
                    <label>House Number</label>
                    <input type="text" class="form-control" formControlName="ParmanenthouseNo">
                </div>
                <div class="form-group col-md-4">
                    <label>City</label>
                    <input type="text" class="form-control" formControlName="ParmanentCity">
                </div>
                <div class="form-group col-md-4">
                    <label>State</label>
                    <input type="text" class="form-control" formControlName="ParmanentState">
                </div>
                <div class="form-group col-md-2">
                    <label>Zip</label>
                    <input type="text" class="form-control" formControlName="ParmanentZip">
                </div>
            </div><br>
            <div class="form-row row">
                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="Email">
                </div>
                <div class="form-group col-md-6">
                    <label>Phone Number</label>
                    <input type="text" class="form-control" formControlName="PhoneNumber">
                </div>
            </div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" *ngIf="!formIsNew" (click)="deleteCustomer()">Delete</button>

                <button type="submit" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Submit</button>

            </div>
        </form>
    </div>

</ng-template>


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
<p>customer works!</p>
<a routerLink="form">add customer</a>